{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="text-center">
        <form method="post" class="form-signin">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

            <div class="form-label-group form-input">
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="UserName" autocomplete="username" required autofocus>
            </div>

            <div class="form-label-group form-input">
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="password" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn btn-primary p-3 m-2" type="submit">
                connexion
            </button>
            <a class="btn btn-primary p-3 m-2" href="{{ path('user_new') }}">
                inscription
            </a>
        </form>
    </div>
{% endblock %}
