{% extends 'base.html.twig' %}
{% block title %}admin{% endblock %}

{% block body %}
    <a href="{{ path('post_index') }}">post</a>
    <a href="{{ path('commentaire_index') }}">commentaire</a>
    <a href="{{ path('user_index') }}">user</a>
{% endblock %}