{% extends 'base.html.twig' %}
{% block title %}admin{% endblock %}

{% block body %}
    <div class="row col-12">
        <a class="mt-5 mb-5 col-sm-8 offset-sm-2 col-lg-4 offset-lg-4 text-center btn btn-primary" href="{{ path('post_index') }}">post</a>
        <a class="mb-5 col-sm-8 offset-sm-2 col-lg-4 offset-lg-4 text-center btn btn-primary" href="{{ path('commentaire_index') }}">commentaire</a>
        <a class="mb-5 col-sm-8 offset-sm-2 col-lg-4 offset-lg-4 text-center btn btn-primary" href="{{ path('user_index') }}">user</a>
    </div>
{% endblock %}