{% extends 'base.html.twig' %}
{% block title %}premiere page visiteur{% endblock %}

{% block body %}
    <!--menu-->
    <h1>Accueil</h1>
    <h2>Karl Remy</h2>
    <p>phrase d'accroche</p>
    <!--contact formulaire-->
{% endblock %}