{% extends 'base.html.twig' %}

{% block title %}New Commentaire{% endblock %}

{% block body %}
    <h1 class="col-12 text-center m-5">Create new Commentaire</h1>

    {{ include('commentaire/_form.html.twig') }}

{% endblock %}
