{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-5 col-12 text-center">Create new Post</h1>

    {{ include('post/_form.html.twig') }}

    <a class="mt-5 mb-5 col-12 text-center" href="{{ path('post_index') }}">back to list</a>
{% endblock %}
