{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>
    <h3>{{ status_code }}</h3>
    <h5>{{ status_text }}</h5>
    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('home') }}">return to the homepage</a>.
    </p>
{% endblock %}